* {
    margin: 0;
    padding: 0;
}

header {
    padding: 10px 300px;
}

header ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    width: 100%;
}

#header-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 40%;
}